.rambleon_logo_login{
	width: 50%;
	text-align: center;
	margin:0 auto;
}

.rambleon_logo_register{
	width: 40%;
	text-align: center;
	margin:0 auto;
}

.errorMessage{
	color:#ab1414;
	font-weight: bold;
	font-size: 10pt;
}

.routelist_title{
	font-size:12pt;
}

.routelist_owner{
	font-size:10pt;
	padding: 4pt 8pt 0 0;
	float: left;
}

.routelist_keywords{
	font-size:9pt;
	padding: 2pt 0 0 0;
	clear:both;
}

.routelist_icons{
	padding:1pt 3pt 1pt 3pt;
	background-color: #D7D7D7;
	border:1px solid #BBB;
	float:left;
	margin-top: 2px;
}

.routelist_fav, .routelist_done {
	display: block;
	width:20px;
	height:19px;
	float:left;
}

.fav_true{
	background-image: url('../images/fav_true_mini.png')
}

.fav_false{
	background-image: url('../images/fav_false_mini.png')
}

.done_true{
	background-image: url('../images/done_true_mini.png')
}

.done_false{
	background-image: url('../images/done_false_mini.png')
}

.mapThumb{
	float: right;
	clear: both;
	display: block;
	width: 250px;
	height: 150px;
	background-color: #333;
	display: none;
	margin-top: 4pt;
	background-image: url('http://www.placekitten.com/250/150');
}

.popup p{
	padding:10px;
}

.selfUser{
	color: #249b00 !important
}

.route_favbuttons a img{
	margin-top:-2px;
}

.ajax_load{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('../images/ajax-loader.gif');
	position: fixed;
	top: 5px;
	left: 35px;
}