.rambleon_logo_login{
	width: 50%;
	text-align: center;
	margin:0 auto;
}

.rambleon_logo_register{
	width: 40%;
	text-align: center;
	margin:0 auto;
}

.errorMessage{
	color:#ab1414;
	font-weight: bold;
	font-size: 10pt;
}

.routelist_title{
	font-size:12pt;
}

.routelist_owner{
	font-size:10pt;
	padding: 4pt 8pt 0 0;
	float: left;
}

.routelist_fav, .routelist_done {
	display: block;
	width:30px;
	height:29px;
	float: left;
}

.fav_true{
	background-image: url('../images/fav_true.png')
}

.fav_false{
	background-image: url('../images/fav_false.png')
}

.done_true{
	background-image: url('../images/done_true.png')
}

.done_false{
	background-image: url('../images/done_false.png')
}

.mapThumb{
	float: right;
	clear: both;
	display: block;
	width: 300px;
	height: 200px;
	background-color: #333;
	display: none;
	padding-top: 4pt;
	background-image: url('http://www.placekitten.com/300/200');
}

.popup p{
	padding:10px;
}