.rambleon_logo_login{
	width: 50%;
	text-align: center;
	margin:0 auto;
}

.rambleon_logo_register{
	width: 40%;
	text-align: center;
	margin:0 auto;
}

.errorMessage{
	color:#ab1414;
	font-weight: bold;
	font-size: 10pt;
}

